body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
}

#nyan-cat {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.spark {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 100%;
    opacity: 0;
}

.rainbow {
    position: fixed;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 999;
}

#wave-a, #wave-b {
    opacity: 0.5;
}

.hot {
    background: red;
}

.cold {
    background: blue;
}

.frame1 {
    width: 100px;
    height: 100px;
    position: relative;
}

#tail {
    position: absolute;
    top: 20px;
    left: 12px;
    width: 6px;
    height: 50px;
    background-color: #f60;
    z-index: 9;
}

#paws {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100px;
    height: 20px;
    background-color: #f60;
    z-index: 9;
}

#pop-tarts-body {
    position: absolute;
    top: 0;
    left: 18px;
    width: 64px;
    height: 80px;
    background-color: #f60;
    z-index: 9;
    overflow: hidden;
}

#pop-tarts-body-cream {
    position: absolute;
    top: -30px;
    left: -40px;
    width: 160px;
    height: 160px;
    background-color: #eee;
    border-radius: 100%;
    z-index: 8;
}

#head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: 9;
}

#face {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background-color: #f60;
    z-index: 10;
    border-radius: 20% 50% 20% 50%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
